<span class="datum"><a id = "new-Page" {{action "getNYCinfos" preventDefault=false}} target="_blank"><i aria-hidden="true" class="fa fa-external-link"></i> NYC site info </a></span>

<div class="data-grid"><label class="data-label">Temp1:</label><span class="datum">{{lot.address}}</span></div>
<div class="data-grid"><label class="data-label">Temp2:</label><span class="datum">{{lot.address}}</span></div>
<div class="data-grid"><label class="data-label">Temp3:</label><span class="datum">{{lot.address}}</span></div>
<div class="data-grid"><label class="data-label">Temp4:</label><span class="datum">{{lot.address}}</span></div>
<hr>
{{yield}}
